.char {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top left 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    &_run {
        &_left {
            border: 2px solid;
            animation-name: run_left;
            animation-fill-mode: forwards
        }
        &_right {
            border: 2px solid;
            animation-name: run_right;
          
        }
        
    }
    
}

@keyframes run_left {
  100% {
    left: 0%;    
  }
}

@keyframes run_right {
  100% {
    left: 100%;    
  }
}