.char {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: forwards;
    &_run {
        &_left {
            border: 2px solid;
            animation-name: run_left;
            animation-fill-mode: forwards
        }
        &_right {
            border: 2px solid;
            animation-name: run_right;
          
        }
         &_up {
            border: 2px solid;
            animation-name: run_up;
        }
        &_down {
            border: 2px solid green;
            animation-name: run_down;
          
        }
        
    }
    
}

@keyframes run_left {
  100% {
    left: 0%;    
  }
}

@keyframes run_right {
  100% {
    left: 103%;    
  }
}


@keyframes run_up {
  100% {
    top: 0%;    
  }
}

@keyframes run_down {
  100% {
    top: 103%;    
  }
}